body{
    font-family: Arial, sans-serif;
    background: #dbeafe;
    margin: 0;
    padding: 20px;
}

/* CONTENEDOR */
.container{
    width: 80%;
    max-width: 800px;
    margin: auto;
}

/* TITULO */
h1{
    text-align: center;
    color: #1e3a8a;
    margin-bottom: 30px;
}

/* TARJETAS */
.card{
    background: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    border-left: 8px solid #2563eb;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}

/* SUBTITULOS */
.card h2{
    color: #2563eb;
}

/* INPUTS */
input{
    width: 95%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #94a3b8;
    border-radius: 5px;
    font-size: 15px;
}

/* BOTONES */
button{
    margin-top: 15px;
    padding: 10px 15px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

button:hover{
    background: #1d4ed8;
}

/* RESULTADOS */
p{
    margin-top: 15px;
    background: #eff6ff;
    padding: 10px;
    border-radius: 5px;
    color: #1e293b;
    font-weight: bold;
}

/* RESPONSIVE */
@media(max-width:600px){

    .container{
        width: 95%;
    }

    h1{
        font-size: 28px;
    }
}